# Infoblox connection params
[blox]
BLOX_HOST   = Blox_Host_IP
BLOX_USER   = Blox_user
BLOX_PASS   = Blox_password
BLOX_URL    = https://BLOX_HOST/wapi/v1.2/

[d42]
# Device42 upload settings  #
D42_USER   = D42_User
D42_PWD    = D42_Password
D42_URL    = https://D42_SERVER

[target]
# Target network. If None, scipt will fetch ALL! networks. 
# If entered, target network must be in CIDR notation. In that case, script will fetch data for that network only.
# Multiple CIDR blocks can be entered, separated by commas.
#TARGET_NETWORKS    = 172.16.0.0/16
#TARGET_NETWORKS    = 192.168.3.0/24, 192.168.1.0/24
#TARGET_NETWORKS    = None
TARGET_NETWORKS  = 192.168.3.0/24

[other]
# Other
ADD_COMMENTS_AS_SUBNET_NAME = True
GET_ASSOCIATED_DEVICE       = False
DEBUG                       = True
MAX_THREADS                 = 20
DRY_RUN                     = False
#If you want to strip the domain name part from the hostname:
IGNORE_DOMAIN               = False  
